.logoimage {
    width: 20%;
}

.maincontentimage {
    width: 30%;
}

.showcaseimage {
    width: 40%;
}

.mainbackground {
    background-color: #7510f7;
    height: 400px;
}

.mainbackground1 {
    background-color: #7510f7;
    width: 100%;
}

.maincolor{
    color: #7510f7;
}

.minusmargin {
    margin-top: -10rem;
}

.paddingtop {
    padding-top: 5rem;
}

@media screen and (max-width: 995px) {
    .marginbottom {
        margin-bottom: 3rem;
    }
    .mainbackground {
        height: 300px;
        margin-top: 3rem;     
    }
    .showcaseimage {
        margin-bottom: 3rem;
    }
    .minusmargin {
        margin: 3rem;
    }
    #demo {
        display: none;
    }
  }
